<div class="main" ng-app="shoutyApp" ng-controller="MainController">

  <h1>Shoutbox with AngularJS</h1>

  <p>
    <textarea rows="5" placeholder="Enter your shout here..." ng-model="message"></textarea>
  </p>

  <p>
    <button ng-click="shout()">Shout</button>
  </p>

  <ul>
    <li ng-repeat="shout in shouts | limitTo:currentSize">
      <p><strong>{{ shout.user }}</strong></p>
      <p>{{ shout.message }}</p>
    </li>
    <button ng-show="shouts.length > currentSize" ng-click="showMore()">Show more</button>
  </ul>

</div>