<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>Crypto Mining Game</span></h5>
     <center><a href="http://bit.ly/www-cryptomininggame" target="_blank">Crypto Mining Game</a> is a new kind of Bitcoin, Litecoin and Doge Auto-Faucet where you can simulate mining and earn real cryptocurrency. Increase the amounts you mine as your level grows!
		 <p> </p>
     <center><a href="http://bit.ly/www-cryptomininggame" target="_blank"><img src="http://www.all-faucets.com/assets/images/cryptomininggame-ad.gif" alt="Crypto Mining Gam"/></a></center>
</div>
