<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>Coinbase</span></h5>
     Buy, sell, and manage your cryptocurrency portfolio with <a href="http://bit.ly/www-coinbase" target="_blank">Coinbase</a>.
		 <p> </p>
		 You can buy and sell popular digital currencies, keep track of them in the one place. One of convinient features of Coinbase
		 is the Recurring Buys, where you can set up to invest in cryptocurrency slowly over time by scheduling buys daily, weekly, or monthly.
		 <p> </p>
 		 It is one of the oldest and most trusted cryptocurrency platforms with over 20 million users worldwide.
		 Literaly, each week the sites continues to add more features, expand into new regions, strenthen its security and availability.
 		 <p> </p>
		 <a href="http://bit.ly/www-coinbase" target="_blank">Sign-up</a> for a free accoun and start buying, selling and using crypto.
		 <p> </p>
		 <center><a href="http://bit.ly/www-coinbase" target="_blank"><img src="http://www.all-faucets.com/assets/images/coinbase.com-ad.png" alt="coinbase.com"/></a></center>
</div>
