<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>Coinbase</span></h5>
     Buy, sell, and manage your cryptocurrency portfolio with <a href="http://bit.ly/www-coinbase" target="_blank">Coinbase</a>.
		 <p> </p>
		 Keep track of your digital portfolio in one place. Coinbase is one of the oldest and most trusted cryptocurrency platforms
		 with over 20 million users worldwide. The site continues to add more features, expanding into new regions, and strengthening its security and availability every week.
		 <p> </p>
		 One of the convenient features specifically worth mentioning is the Recurring Buys, where you can set up to invest in cryptocurrency
		 over time by scheduling daily, weekly, or monthly buys.
 		 <p> </p>
		 <a href="http://bit.ly/www-coinbase" target="_blank">Sign-up</a> for a free account and start buying, selling and using crypto.
		 <p> </p>
		 <center><a href="http://bit.ly/www-coinbase" target="_blank"><img src="http://www.all-faucets.com/assets/images/coinbase.com-ad.gif" alt="coinbase.com"/></a></center>
</div>
