<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>adBTC</span></h5>
     Earn bitcoin online by viewing websites on <a href="http://bit.ly/www-adbtc" target="_blank">adBTC</a>.<br>
		 Register, go to add rotator and get paid up to 35 satoshi per viewing an ad.<br>
		 Withdraw to FaucetHub or directly with a low minimum of 5,000 satoshi - an amount earnable in 1-3 days!<br>
		 <p> </p>
		 <center><a href="http://bit.ly/www-adbtc" target="_blank"><img src="http://www.all-faucets.com/assets/images/adbtc.top-ad.png" alt="adbtc.top"/></a></center>
</div>
