<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>Crypto Farmer</span></h5>
     <a href="http://bit.ly/www-cryptofarmer" target="_blank">Crypto Farmer</a> is...
		 <p> </p>
		 <center><a href="http://bit.ly/www-cryptofarmer" target="_blank"><img src="http://www.all-faucets.com/assets/images/cryptofarmer.com-ad.gif" alt="cryptofarmer.com"/></a></center>
</div>
