<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>Crypto Farmer</span></h5>
     <a href="http://bit.ly/www-cryptofarmer" target="_blank">Crypto Farmer</a> allows players to build their virtual farm by selecting key infrastructure components.
		 By customizing and reinvesting your earned digital currency to buy more powerful hardware, you increase your hourly earnings.
		 <p> </p>
		 You'll get started with no initial investment. The start-up bonus of 5000 credits will be sufficient to buy the basic mining equipment.
		 The clean and visually pleasing interface will keep you coming back each day to collect your accumulated wealth.
		 Decide if you want to withdraw your crypto or reinvest, and most importantly, have fun!
		 <p> </p>
		 <center><a href="http://bit.ly/www-cryptofarmer" target="_blank"><img src="http://www.all-faucets.com/assets/images/cryptofarmer.com-ad.gif" alt="cryptofarmer.com"/></a></center>
</div>
