<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>Febbit - Bitcoin Mining Game</span></h5>
     Tired of tedious bitcoin faucets? <a href="http://bit.ly/www-cryptomininggame" target="_blank">Febbit</a> allows you to earn Bitcoin just by playing a game! Discover chips imporove your Miner. Upgrade your unlocked in the Inventory page. You can click on each individual chip to Equip them, Upgrade, or Sell and mine with greater efficiency earning more Bitcoin per hour!
		 <p> </p>
     <center><a href="http://bit.ly/www-febbit" target="_blank"><img src="http://www.all-faucets.com/assets/images/febbit-ad.gif" alt="Febbit - Bitcoin Mining Game"/></a></center>
</div>
