<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>A-ADS - Privacy-focused bitcoin-based advertising network</span></h5>
     Choose <a href="http://a-ads.com?partner=1121344" target="_blank">A-ADS</a> to advertise your website, or to earn money with them if you are a publisher.
		 Either without registration, completely anonymously, or with a light registration, set up your account in a minute. The service supports major crypto-currencies
		 such as Bitcoin, Bitcoin Cash, Ethereum, Dash, Monero, Litecoin, Zcash and brings brings an extensive selection of traffic sources perfect for
		 ICOs, FinTech crypto-related services, crypto-exchanges and Trading, Cloud Mining, Gaming, Gambling and Blockchain projects.
		 <p> </p>
		 <center><a href="http://a-ads.com?partner=1121344" target="_blank"><img src="http://www.all-faucets.com/assets/images/a-ads.com-ad.png" alt="Anonymous Ads"/></a></center>
		 <p> </p>
		 - 3 models of advertising: CPD, CPA and CPM<br>
		 - Lightweight non-intrusive ads<br>
		 - Pay through different cryptocurrencies<br>
		 - Advertise anonymously<br>
		 - Pay as much (or as little) as you like<br>
		 <p> </p>
</div>
