<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>CryptoTab Browser</span></h5>
     Change your web browser to <a href="http://bit.ly/www-cryptobrowser" target="_blank">CryptoTab Browser</a> and receive payments to your balance
		 every 10 minutes. You get BTC for simply using it, even if just having CryptoTab Browser window open.<br>
		 - It is up to eight times faster than Chrome<br>
		 - It has thousand of useful extensions<br>
		 - Yes, it's incredibly lightweight and secure<br>
		 - Refer your friends and increase your own earnings with referral program<br>
		 <p> </p>
		 <center><a href="http://bit.ly/www-cryptobrowser" target="_blank"><img src="http://www.all-faucets.com/assets/images/cryptobrowser.site-ad01.gif" alt="CryptoTab Browser"/></a></center>
</div>
