<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<div class="sidebar-section" style="background-color:#fbf4ff">
     <h5><span>BitcoinsFor.Me</span></h5>
     You can claim 10 satoshi (BTC) every 5 minutes from <a href="http://bit.ly/www-bitcoinsfor-me" target="_blank">bitcoinsfor.me</a>.
		 It is a clean, consistent and intuitive faucet. At most, one pop-up per claim session. Also:<br>
		 - Free hourly roll of Slots game to win a progressively increasing Jackpot.<br>
		 - Offerwalls including Paid-to-Click (PTC) tasks, Video Ads and high paying Surveys.<br>
		 - Web-Browser Mining
		 <p> </p>
		 Payment are made regularly each Sunday FaucetHub, Xapo or Coinbase. The withdraw cash-out minimum is only 500 satoshi.
		<p> </p>
		 <center><a href="http://bit.ly/www-bitcoinsfor-me" target="_blank"><img src="http://www.all-faucets.com/assets/images/bitcoinsfor.me-ad.png" alt="bitcoinsfor.me"/></a></center>
</div>
