<section class="disqus">

  <p> </p>

  <center>

    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=50&l=ur1&category=giveaways&banner=1EQQQBDK054KS7F0C5R2&f=ifr&linkID=bc802ff68487238ae0d9135f02decdad&t=cryptopayoff-20&tracking_id=cryptopayoff-20" width="720" height="300" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

  </center>

  <center>

    <script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_search_bar = "false";
    amzn_assoc_tracking_id = "cryptopayoff-20";
    amzn_assoc_ad_mode = "search";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_title = "";
    amzn_assoc_default_search_phrase = "what is bitcoin";
    amzn_assoc_default_category = "All";
    amzn_assoc_linkid = "13212a53cfa42c9aaa60f6871523d408";
    amzn_assoc_rows = "2";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

  </center>

  <center>

    <script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_search_bar = "false";
    amzn_assoc_tracking_id = "cryptopayoff-20";
    amzn_assoc_ad_mode = "search";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_title = "";
    amzn_assoc_default_search_phrase = "bitcoin mining";
    amzn_assoc_default_category = "All";
    amzn_assoc_linkid = "13212a53cfa42c9aaa60f6871523d408";
    amzn_assoc_rows = "2";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

  </center>

  <p> </p>


</section>
