<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

        <div class="sidebar-section">
             <h5><span>Crypto Mining Game</span></h5>
             <b>Crypto Mining Game is a new kind of Bitcoin, Litecoin and Doge Auto-Faucet where you can simulate mining and earn real cryptocurrency. Increase the amounts you mine as your level grows!</b>
             <center><a href="http://bit.ly/www-cryptomininggame" target="_blank"><img src="http://www.all-faucets.com/assets/images/cryptomininggame-ad.gif" alt="Crypto Mining Gam"/></a></center>
        </div>
