<div class="sidebar">

  <div class="sidebar-section">
        <h5><span>Articles</span></h5>
        <ul style="list-none;">
        <li><a href="http://www.all-faucets.com/start.html">Getting Started with Bitcoin Faucets</a></li>
        </ul>
    </div>

  <div class="sidebar-section">
        <h5><span>Faucet Discussion</span></h5>
        <ul style="list-none;">
        <li><a href="http://www.all-faucets.com/faucets/2019/01/01/bitcoinsfor.me.html">bitcoinsfor.me</a></li>
        <li><a href="http://www.all-faucets.com/faucets/2019/01/02/trustbtcfaucet.com.html">trustbtcfaucet.com</a></li>
        <li><a href="http://www.all-faucets.com/faucets/2019/01/03/sato.host.html">sato.host</a></li>
        <li><a href="http://www.all-faucets.com/faucets/2019/01/04/bitnyx.com.html">bitnyx.com</a></li>
        <li><a href="http://www.all-faucets.com/faucets/2019/01/05/freebitco.in.html">freebitco.in</a></li>
        <li><a href="http://www.all-faucets.com/faucets/2019/01/06/bonusbitcoin.co.html">bonusbitcoin.co</a></li>
        </ul>
    </div>

    <div class="sidebar-section">
            <h5><span>Earn Crypto</span></h5>
            {% include newsletter.html %}
    </div>

</div>
