<div class="sidebar">

  <div class="sidebar-section">
        <h5><span>Читайте также</span></h5>
        <ul style="list-none;">
        <li><a href="http://bit.ly/www-adbtc" target="_blank">adBTC</a></li>
        <li><a href="http://bit.ly/www-adbtc" target="_blank"><img src="http://www.all-faucets.com/assets/images/adbtc.top-ad.png" alt="adbtc.top"/></a></li>
        <li><a href="http://bit.ly/www-btcfox" target="_blank">BtcFox</a></li>
        <li><a href="http://bit.ly/www-btcfox" target="_blank"><img src="http://www.all-faucets.com/assets/images/btcfox.info-site.png" alt="Btc Fox"/></a></li>
      </ul>
    </div>

</div>

<center>
  <iframe data-aa="1309303" src="//ad.a-ads.com/1309303?size=300x250" scrolling="no" style="width:300px; height:250px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
</center>
