<div class="sidebar">

  <div class="sidebar-section">
        <h5><span>Daily Giveaway</span></h5>
        <ul style="list-none;">
        <li><a href="http://www.all-faucets.com/daily/2019/04/01/giveaway.html">Today's Giveaway</a></li>
        <li><a href="http://www.all-faucets.com/daily/2019/03/29/giveaway-sponsorship.html">How to Sponsor</a></li>
        <li><a href="http://www.all-faucets.com/daily/2019/03/30/giveaway-participation.html">How to Participate</a></li>
        <li><a href="http://www.all-faucets.com/daily/2019/03/31/talk.html">Talk to Us</a></li>
        </ul>
    </div>

    <div class="sidebar-section">
          <h5><span>Support by donating BTC</span></h5>
          <center>38GPBXKCKg95QYceZSpumSYQDAgftoMxQw</center>
      </div>

        <div class="sidebar-section">
             <h5><span>Get CryptoTab Browser</span></h5>
             <center><a target="_blank" href="http://bit.ly/www-cryptobrowser"><img src="http://www.all-faucets.com/assets/images/cryptobrowser.site-ad.gif"/></a></center>
             <br>
             Mine bitcoin while you browse!<br>
             - Up to eight times faster than Google Chrome<br>
             - Thousand of extensions<br>
             - Incredibly lightweight and secure<br>
             - Increase earnings with Referral program! <a target="_blank" href="http://bit.ly/www-cryptobrowser">Learn more</a>
             <p> </p>
             <iframe width="400" src="https://www.youtube.com/embed/TEo55ZTtpB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="sidebar-section">
            <h5><span>Earn Crypto</span></h5>
            {% include newsletter.html %}
        </div>

</div>
