@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$colorLight: #fafcfd;
$colorDark: #252529;
$colorSemiLight: #b8d3e5;
$colorDarkGreen: #34ab45;
$colorLightBrown: #9c8870;
$colorDarkBlue: #1765d8;
$colorLightBlue: #346298;
$colorLightGrey: #a8aaad;

$colorWhite: #fff;

$colorDanger: #d32f2f;
$colorWarning: #f6ab2e;
$colorGood: #34aa44;

$layoutWidth: 1440px;
$layoutHeight: 1160px;
$layoutBorderRadius: 5px;

$sidebarWidth: 270px;
$sidebarHeight: 100%;

$standardPadding: 30px;

$sizeXSmall: 0.5em;
$sizeSmall: 0.625em;
$sizeMedium: 0.75em;
$sizeLarge: 1em;
$sizeXLarge: 1.5em;
$sizeXXLarge: 3em;

body {
	font-family: "Open Sans", sans-serif;
	background: $colorLight;
}

.layout {
	display: flex;
	background: $colorWhite;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: $layoutBorderRadius;
	width: $layoutWidth;
	height: $layoutHeight;
	box-shadow: 0px 0px 15px -6px rgba(54, 54, 54, 1);
}

.sidebar {
	background: $colorDark;
	width: $sidebarWidth;
	display: flex;
	flex-direction: column;
	border-top-left-radius: $layoutBorderRadius;
	border-bottom-left-radius: $layoutBorderRadius;

	.brand {
		color: $colorWhite;
		display: flex;
		align-items: center;

		padding: $standardPadding 0 $standardPadding $standardPadding;
		border-bottom: 0.5px solid darken($colorLightGrey, 40%);

		.icon {
			margin-right: 10px;
		}
	}

	.creators {
		margin-top: auto;
		color: $colorWhite;
		font-size: $sizeMedium;

		.owner {
			border-bottom: 0.5px solid darken($colorLightGrey, 40%);
			border-top: 0.5px solid darken($colorLightGrey, 40%);
			display: flex;
			align-items: center;
			padding: $standardPadding/2 $standardPadding;

			.owner-img {
				border-radius: 50%;
			}

			.desc {
				margin-left: $standardPadding/2;
				h6 {
					margin-top: $standardPadding/3;
					color: darken($colorLightGrey, 20%);
				}
			}

			.icon {
				display: block;
				margin-left: auto;
			}
		}

		.copyright {
			padding: $standardPadding;
			.copy-text {
				color: darken($colorLightGrey, 20%);
				margin-top: $standardPadding / 2;
				font-size: 0.95em;
				line-height: $sizeXLarge;
			}
		}
	}
}

nav.main-nav {
	color: $colorWhite;
	padding: $standardPadding $standardPadding/2 0 $standardPadding/2;
	box-sizing: border-box;

	.main-menu {
		&::before {
			content: "MENU";
		}
		padding-bottom: $standardPadding/2;
		border-bottom: 0.5px solid darken($colorLightGrey, 40%);
	}

	.sub-menu {
		&::before {
			content: "SUPPORT";
		}
	}

	.menu {
		&::before {
			color: darken($colorLightGrey, 20%);
			display: block;
			padding: 0 $standardPadding/2 $standardPadding/2 $standardPadding/2;
			font-size: $sizeMedium;
		}

		li.menu-item {
			font-size: $sizeMedium;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: $colorWhite;
			padding: $standardPadding/2;
			border-radius: $layoutBorderRadius/2;
			user-select: none;

			.badge {
				display: block;
				color: $colorDark;
				background: $colorWhite;
				border-radius: 50%;
				text-align: center;
				padding-top: 4px;
				box-sizing: border-box;
				width: 20px;
				height: 20px;
			}

			a {
				text-decoration: none;
				color: $colorWhite;
			}

			&.selected,
			&:hover {
				background: $colorDarkBlue;
				cursor: pointer;
			}

			&:hover {
				border: 0.5px solid $colorWhite;
			}

			&.selected:hover {
				border: 0.5px solid $colorDarkBlue;
			}
		}

		&.sub-menu {
			margin-top: $standardPadding;
		}
	}
}

/*
	Content Section (White area styles)
*/
.content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;

	.topbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $standardPadding/2 $standardPadding;
		border-bottom: 0.5px solid lighten($colorLightGrey, 20%);

		h2.title {
			font-weight: 600;
		}

		.user-options {
			display: flex;
			align-items: center;
			padding: 2px 0;

			.country-selector {
				display: flex;
				align-items: center;
				margin-left: $standardPadding;
				padding: $standardPadding/2.5 $standardPadding/4;
				border: 0.5px solid lighten($colorLightGrey, 20%);
				border-radius: $layoutBorderRadius/2;
				font-size: $sizeMedium;
				position: relative;

				&::before {
					content: "";
					display: block;
					position: absolute;
					border-left: 1px solid lighten($colorLightGrey, 20%);
					height: 100%;
					left: -($standardPadding);
				}

				i {
					margin: 0 $standardPadding/3;
					&:first-child {
						font-size: $sizeXLarge;
					}
					&:last-child {
						color: darken($colorLightGrey, 20%);
						margin-left: $standardPadding;
					}
				}

				&:hover {
					cursor: pointer;
					background: lighten($colorDarkGreen, 10%);
					color: $colorWhite;
				}
			}
		}

		button {
			color: $colorWhite;
			outline: none;
			border: none;
			background: $colorDarkGreen;
			padding: $standardPadding/2 $standardPadding/2;
			box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2);
			border-radius: $layoutBorderRadius/2;
			margin-right: $standardPadding;

			&:hover {
				cursor: pointer;
				background: lighten($colorDarkGreen, 10%);
			}
		}
	}
}

.content .user-list {
	
	.list-wrapper {
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.search-bar {
		display: flex;
		justify-content: space-between;
		padding: $standardPadding;
		border-bottom: 0.5px solid lighten($colorLightGrey, 20%);
		color: darken($colorLightGrey, 10%);
		font-size: $sizeLarge;
		background: lighten($colorLightGrey, 32%);

		input[type="text"] {
			border: none;
			outline: none;
			font-size: $sizeMedium;
			background: none;
		}
	}

	.list-section {
		> label {
			color: darken($colorLightGrey, 10%);
			display: block;
			padding: $standardPadding/2 $standardPadding;
			border-bottom: 0.5px solid lighten($colorLightGrey, 20%);
			font-size: $sizeMedium;
		}

		.list {
			list-style: none;
			li {
				padding: $standardPadding/2 $standardPadding;
				border-bottom: 0.5px solid lighten($colorLightGrey, 20%);
				border-right: 5px solid transparent;
				display: flex;
				align-items: center;

				&:hover {
					cursor: pointer;
				}

				&:hover,
				&.selected {
					border-right-color: $colorDarkBlue;
					background: lighten($colorLightGrey, 30%);
				}

				> img {
					border-radius: 50%;
				}
				.text {
					margin-left: $standardPadding;
					h3 {
						font-weight: 600;
						//margin-top: $standardPadding/3;
					}
					h5 {
						color: darken($colorLightGrey, 20%);
						margin-top: $standardPadding/3;
						font-size: $sizeMedium;
					}
				}
			}
		}
	}
}

.content .container {
	display: flex;
	flex-grow: 1;

	> section {
		width: 50%;
	}

	.user-list {
		border-right: 0.5px solid lighten($colorLightGrey, 20%);
	}

	.user-detail {
		padding: $standardPadding;
		box-sizing: border-box;
		overflow-y: scroll;
		overflow-x: hidden;

		.profile-item {
			display: flex;
			flex-direction: column;
			margin: $standardPadding 0;
			position: relative;

			&:last-child {
				margin-bottom: 0;
			}

			a.more {
				position: absolute;
				text-decoration: none;
				color: red;
				top: 0;
				right: 0;
				font-size: $sizeSmall;
				color: darken($colorLightGrey, 10%);
			}

			> h4 {
				color: darken($colorLightGrey, 20%);
				text-transform: uppercase;
				font-size: $sizeMedium;
				margin-bottom: $standardPadding/2;
			}
		}

		.profile-info {
			display: flex;
			align-items: center;

			> img {
				border-radius: 50%;
			}

			.desc {
				margin-left: $standardPadding/2;

				h5 {
					color: darken($colorLightGrey, 20%);
					font-size: $sizeMedium;
					margin-top: $standardPadding/3;
				}

				.reviews {
					margin-top: $standardPadding;
					font-size: $sizeMedium;
					color: darken($colorLightGrey, 20%);
					.count {
						padding: $standardPadding/4 $standardPadding/3;
						color: $colorWhite;
						border-radius: $layoutBorderRadius/2;
						background: $colorWarning;
						margin-right: $standardPadding/4;
					}
				}
			}
		}

		.basic-details {
			ul.info {
				display: flex;
				list-style: none;

				li {
					color: darken($colorLightGrey, 40%);
					font-size: $sizeMedium;
					display: flex;
					margin-right: $standardPadding;

					i {
						color: darken($colorLightGrey, 20%);
						margin-right: $standardPadding/3;
					}
				}
			}
		}

		.bio-details {
			.desc {
				color: darken($colorLightGrey, 30%);
				font-size: $sizeMedium;
				line-height: $sizeXLarge * 1.2;
			}
		}

		.tags-details .info {
			font-size: $sizeMedium;
			list-style: none;

			li {
				display: inline-block;
				background: $colorDark;
				padding: $standardPadding/4 $standardPadding/3;
				border-radius: $layoutBorderRadius / 3;
				color: $colorWhite;
				margin-right: $standardPadding/4;

				&.high {
					background: $colorDarkGreen;
				}

				&.medium {
					background: $colorWarning;
				}

				&.low {
					background: $colorDarkBlue;
				}
			}
		}

		.divider {
			border-bottom: 0.5px solid lighten($colorLightGrey, 20%);
			height: 1px;
		}
	}
}

.user-detail {
	.associated {
		.buildings {
			list-style: none;
			margin-top: $standardPadding / 2;
			display: flex;

			li {
				display: inline-block;
				font-size: $sizeMedium;
				max-width: 65px;
				margin: 0 $standardPadding / 2;
				margin-bottom: auto;

				&:first-child {
					margin-left: 0;
				}

				img {
					border-radius: $layoutBorderRadius;
				}

				h3 {
					margin-top: $standardPadding /3;
					line-height: $sizeLarge * 1.4;
				}

				h4 {
					margin-top: $standardPadding /3;
					color: darken($colorLightGrey, 10%);
					line-height: $sizeLarge * 1.4;
				}

				&:hover {
					opacity: 0.8;
					cursor: pointer;
				}
			}
		}
	}

	.members .owners {
		list-style: none;
		display: flex;
		margin-top: $standardPadding / 2;

		li {
			color: $colorWhite;
			margin: 0 $standardPadding;
			position: relative;
			width: 165px;
			height: 165px;

			&:first-child {
				margin-left: 0;
			}

			> img {
				border-radius: $layoutBorderRadius;
				position: absolute;
				z-index: 0;
			}

			.desc {
				position: absolute;
				bottom: 0;
				transition: bottom 0.5s;
				margin-left: $standardPadding / 1.5;
				margin-bottom: $standardPadding / 1.5;

				h3 {
					font-size: $sizeLarge;
					margin-bottom: $standardPadding / 3;
				}

				h4 {
					font-size: $sizeSmall;
					color: lighten($colorLightGrey, 10%);
				}
			}

			&:hover {
				opacity: 0.8;
				cursor: pointer;

				.desc {
					bottom: $standardPadding * 1;
				}
			}
		}
	}
}

.user-detail {
	.reviews ul.list {
		list-style: none;
		margin-top: $standardPadding / 3;

		li {
			display: flex;
			align-items: flex-start;

			> img {
				border-radius: 50%;
				margin-right: $standardPadding/2;
			}

			.text-content {
				h4 {
					font-weight: 600;
				}

				.text {
					margin-top: $standardPadding /3;
					font-size: $sizeMedium;
					color: darken($colorLightGrey, 10%);
					line-height: $sizeMedium * 1.8;
				}
			}
		}
	}
}
