<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta property="og:url" content="{{ page.URL }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.desc }}"/>
<meta property="og:image" content="{{ page.img }}" />
<meta property="og:image:alt" content="{{ page.alt }}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ page.img }}" />
    <meta name="twitter:image:alt" content="{{ page.alt }}" />
    <meta name="twitter:description" content="{{ page.desc }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">
<title>{{ page.title }} | {{site.name}}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134453844-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134453844-1');
</script>

</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

<!-- Begin Menu Navigation
================================================== -->
<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

      <!-- Begin Logo -->
      <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="/assets/images/logo.png" alt="{{ site.name }}">
      </a>
      <!-- End Logo -->

    </div>

</header>

<!-- End Menu Navigation
================================================== -->


<div class="site-content">

    <div class="container">

    <!-- Site Title
    ================================================== -->

    <div class="mainheading" style="display:none;">
        <h1 class="sitetitle">{{ site.name }}</h1>
        <p class="lead">
             {{ site.description }}
        </p>
    </div>

    <!-- Content
    ================================================== -->
    <div class="main-content">
        {{ content }}
    </div>

    </div><!-- /.container -->

    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">

        <div class="container">

            <div class="copyright">
                <p class="pull-left">
                  Copyright © 2019-2020 www.all-faucets.com -
                  <a href="https://ar.all-faucets.com/">AR</a>
                  <a href="https://bn.all-faucets.com/">BN</a>
                  <a href="https://es.all-faucets.com/">ES</a>
                  <a href="https://fr.all-faucets.com/">FR</a>
                  <a href="https://hi.all-faucets.com/">HI</a>
                  <a href="https://id.all-faucets.com/">ID</a>
                  <a href="https://ms.all-faucets.com/">MS</a>
                  <a href="https://pt.all-faucets.com/">PT</a>
                  <a href="https://ru.all-faucets.com/">RU</a>
                  <a href="https://ur.all-faucets.com/">UR</a>
                  <a href="https://zh.all-faucets.com/">ZH</a>

                </p>
                <p class="pull-left">
                Although this site uses cookies to enhance your browsing experience, these cookies contain no personally identifiable information.
                </p>

                <div class="clearfix">

                </div>

            </div>
        </div>

    </footer>
    <!-- End Footer -->

</div> <!-- /.site-content>

<!-- JavaScript
================================================== -->

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/masonry.pkgd.min.js'></script>
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>

</body>
</html>
